In [28]:
from sklearn.metrics.pairwise import cosine_similarity

import pandas as pd
import numpy as np

In [29]:
# Load the data
ratings = pd.read_csv('/Users/CristaVillatoro/Desktop/OWN-tahini-tensor-encounter-notes /week10/05-Web_App/data/ratings.csv')
movies = pd.read_csv('/Users/CristaVillatoro/Desktop/OWN-tahini-tensor-encounter-notes /week10/05-Web_App/data/movies.csv')

In [30]:
# Checking shapes
ratings.shape, movies.shape

((100836, 4), (9742, 3))

In [31]:
# Extracting the year out of the title 
movies['year'] = movies.title.str.extract(r'\(([^\)]+)\)')
movies

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,2017
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,2017
9739,193585,Flint (2017),Drama,2017
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,2018
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1991

In [32]:
# remove the year from title column
movies['title'] = movies['title'].str.replace(r'\(\d{4}\)', '')

/var/folders/1d/9g6y_9zs6790zby0s40_p1mm0000gn/T/ipykernel_4999/410760227.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  movies['title'] = movies['title'].str.replace(r'\(\d{4}\)', '')

In [33]:
movies['title'] = movies.title.str[:-1]

In [34]:
merged_df = ratings.merge(movies, on='movieId', how='left')
merged_df

,userId,movieId,rating,timestamp,title,genres,year
0,1,1,4.0,964982703,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,1,3,4.0,964981247,Grumpier Old Men,Comedy|Romance,1995
2,1,6,4.0,964982224,Heat,Action|Crime|Thriller,1995
3,1,47,5.0,964983815,Seven (a.k.a. Se7en),Mystery|Thriller,a.k.a. Se7en
4,1,50,5.0,964982931,"Usual Suspects, The",Crime|Mystery|Thriller,1995
...,...,...,...,...,...,...,...
100831,610,166534,4.0,1493848402,Split,Drama|Horror|Thriller,2017
100832,610,168248,5.0,1493850091,John Wick: Chapter Two,Action|Crime|Thriller,2017
100833,610,168250,5.0,1494273047,Get Out,Horror,2017
100834,610,168252,5.0,1493846352,Logan,Action|Sci-Fi,2017
100835,610,170875,3.0,1493846415,The Fate of the Furious,Action|Crime|Drama|Thriller,2017

In [35]:
# Count the number of ratings per movie
num_ratings_per_movie = ratings.groupby('movieId')['rating'].count()

In [36]:
df_pivot = pd.pivot_table(merged_df, values='rating', index='userId', columns='title')
df_pivot

title,'71,'Hellboy': The Seeds of Creation,'Round Midnight,'Salem's Lot,'Til There Was You,'Tis the Season for Love,"'burbs, The",'night Mother,(500) Days of Summer,*batteries not included,...,Zulu,[REC],[REC]Â²,[REC]Â³ 3 GÃ©nesis,anohana: The Flower We Saw That Day - The Movie,eXistenZ,xXx,xXx: State of the Union,Â¡Three Amigos!,Ã€ nous la libertÃ© (Freedom for Us)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [37]:
nan_cols85 = [i for i in df_pivot.columns if df_pivot[i].isnull().sum() > 0.85*len(df_pivot)]
df = df_pivot.drop(nan_cols85, axis=1)

In [38]:
# Filter the movies DataFrame to only include movies with at least 30 ratings
popular_movies = df[df.index.isin(num_ratings_per_movie[num_ratings_per_movie >= 30].index)]
popular_movies

title,2001: A Space Odyssey,Ace Ventura: Pet Detective,Aladdin,Alien,Aliens,"Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le)",American Beauty,American History X,American Pie,Apocalypse Now,...,Up,"Usual Suspects, The",V for Vendetta,WALLÂ·E,Waterworld,While You Were Sleeping,Who Framed Roger Rabbit?,Willy Wonka & the Chocolate Factory,"Wizard of Oz, The",X-Men
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,4.0,NaN,NaN,5.0,5.0,NaN,4.0,...,NaN,5.0,NaN,NaN,NaN,NaN,5.0,5.0,5.0,5.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,3.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,3.0,4.0,NaN,3.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596,4.0,NaN,NaN,4.0,3.5,4.0,NaN,NaN,NaN,NaN,...,3.5,3.5,3.5,4.5,NaN,NaN,NaN,NaN,4.0,4.0
597,NaN,NaN,4.0,5.0,5.0,NaN,5.0,NaN,5.0,5.0,...,NaN,5.0,NaN,NaN,NaN,3.0,5.0,5.0,4.0,NaN
608,3.0,3.5,3.0,4.0,4.5,NaN,5.0,4.0,2.5,3.0,...,NaN,4.5,4.0,NaN,3.0,2.5,3.0,3.5,2.5,4.0
610,4.5,3.0,NaN,4.5,5.0,4.0,3.5,NaN,NaN,5.0,...,3.5,4.0,3.5,4.5,NaN,NaN,NaN,NaN,3.5,3.5

In [39]:
initial = popular_movies.T
initial

userId,1,2,3,5,6,7,10,11,16,17,...,589,590,592,593,594,595,596,597,608,610
title,,,,,,,,,,,,,,,,,,,,,
2001: A Space Odyssey,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,4.0,NaN,3.0,4.5
Ace Ventura: Pet Detective,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,4.0,1.5,NaN,NaN,NaN,NaN,3.5,3.0
Aladdin,NaN,NaN,NaN,4.0,5.0,3.0,4.0,NaN,NaN,NaN,...,NaN,4.0,5.0,3.5,4.5,NaN,NaN,4.0,3.0,NaN
Alien,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,4.5,NaN,NaN,4.0,NaN,4.0,5.0,4.0,4.5
Aliens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.5,NaN,NaN,NaN,NaN,3.5,5.0,4.5,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
While You Were Sleeping,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,5.0,2.0,5.0,NaN,NaN,3.0,2.5,NaN
Who Framed Roger Rabbit?,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,5.0,3.0,NaN
Willy Wonka & the Chocolate Factory,5.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,2.5,NaN,NaN,NaN,5.0,3.5,NaN
"Wizard of Oz, The",5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,4.0,NaN,4.0,4.0,2.5,3.5
X-Men,5.0,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,3.0,4.5,NaN,4.0,NaN,4.0,3.5

In [40]:
user_item = initial.fillna(0)
user_item

userId,1,2,3,5,6,7,10,11,16,17,...,589,590,592,593,594,595,596,597,608,610
title,,,,,,,,,,,,,,,,,,,,,
2001: A Space Odyssey,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,4.0,0.0,3.0,4.5
Ace Ventura: Pet Detective,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,4.0,1.5,0.0,0.0,0.0,0.0,3.5,3.0
Aladdin,0.0,0.0,0.0,4.0,5.0,3.0,4.0,0.0,0.0,0.0,...,0.0,4.0,5.0,3.5,4.5,0.0,0.0,4.0,3.0,0.0
Alien,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,4.5,0.0,0.0,4.0,0.0,4.0,5.0,4.0,4.5
Aliens,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.5,0.0,0.0,0.0,0.0,3.5,5.0,4.5,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
While You Were Sleeping,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,5.0,2.0,5.0,0.0,0.0,3.0,2.5,0.0
Who Framed Roger Rabbit?,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,5.0,3.0,0.0
Willy Wonka & the Chocolate Factory,5.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,2.5,0.0,0.0,0.0,5.0,3.5,0.0
"Wizard of Oz, The",5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,4.0,0.0,4.0,4.0,2.5,3.5
X-Men,5.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,3.0,4.5,0.0,4.0,0.0,4.0,3.5

In [41]:
user_user_sklearn = cosine_similarity(user_item.T)
user_user_sklearn = pd.DataFrame(user_user_sklearn, columns = user_item.columns, index = user_item.columns).round(2)
user_user_sklearn

userId,1,2,3,5,6,7,10,11,16,17,...,589,590,592,593,594,595,596,597,608,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.00,0.05,0.10,0.30,0.33,0.35,0.08,0.29,0.43,0.59,...,0.26,0.63,0.29,0.39,0.37,0.17,0.38,0.62,0.59,0.55
2,0.05,1.00,0.00,0.05,0.05,0.03,0.21,0.12,0.22,0.20,...,0.07,0.18,0.04,0.16,0.05,0.00,0.22,0.05,0.14,0.21
3,0.10,0.00,1.00,0.19,0.07,0.00,0.00,0.00,0.22,0.19,...,0.19,0.08,0.00,0.09,0.00,0.00,0.09,0.00,0.15,0.11
5,0.30,0.05,0.19,1.00,0.61,0.20,0.11,0.27,0.17,0.29,...,0.32,0.37,0.58,0.30,0.35,0.12,0.29,0.27,0.35,0.25
6,0.33,0.05,0.07,0.61,1.00,0.24,0.12,0.54,0.15,0.27,...,0.50,0.43,0.84,0.35,0.53,0.10,0.21,0.37,0.43,0.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,0.17,0.00,0.00,0.12,0.10,0.18,0.00,0.08,0.09,0.13,...,0.12,0.17,0.08,0.27,0.19,1.00,0.06,0.19,0.13,0.11
596,0.38,0.22,0.09,0.29,0.21,0.50,0.36,0.17,0.47,0.48,...,0.14,0.71,0.20,0.50,0.31,0.06,1.00,0.42,0.66,0.75
597,0.62,0.05,0.00,0.27,0.37,0.36,0.11,0.41,0.34,0.48,...,0.12,0.63,0.31,0.42,0.49,0.19,0.42,1.00,0.63,0.54
608,0.59,0.14,0.15,0.35,0.43,0.57,0.27,0.35,0.50,0.58,...,0.28,0.83,0.40,0.61,0.49,0.13,0.66,0.63,1.00,0.79
610,0.55,0.21,0.11,0.25,0.27,0.54,0.32,0.30,0.59,0.65,...,0.19,0.82,0.25,0.51,0.37,0.11,0.75,0.54,0.79,1.00

In [42]:
new_user =initial[300]

In [43]:
unseen_movies = initial[new_user.isna()].index
unseen_movies

Index(['2001: A Space Odyssey', 'Ace Ventura: Pet Detective', 'Aladdin',
       'Alien', 'Aliens', 'American Pie', 'Apocalypse Now', 'Apollo 13',
       'Armageddon', 'As Good as It Gets',
       ...
       'Up', 'Usual Suspects, The', 'V for Vendetta', 'WALLÂ·E', 'Waterworld',
       'While You Were Sleeping', 'Who Framed Roger Rabbit?',
       'Willy Wonka & the Chocolate Factory', 'Wizard of Oz, The', 'X-Men'],
      dtype='object', name='title', length=149)

In [44]:
top_five_users = user_user_sklearn[300].sort_values(ascending=False).index[1:6]

In [45]:
top_five_users

Int64Index([296, 497, 16, 317, 261], dtype='int64', name='userId')

In [46]:
for movie in unseen_movies:
    other_users = initial.columns[~initial.loc[movie].isna()]
    other_users = set(other_users)
    print(movie)

2001: A Space Odyssey
Ace Ventura: Pet Detective
Aladdin
Alien
Aliens
American Pie
Apocalypse Now
Apollo 13
Armageddon
As Good as It Gets
Austin Powers: International Man of Mystery
Austin Powers: The Spy Who Shagged Me
Avatar
Babe
Back to the Future
Batman
Batman Begins
Batman Forever
Beautiful Mind, A
Beauty and the Beast
Being John Malkovich
Big Lebowski, The
Blade Runner
Bourne Identity, The
Braveheart
Breakfast Club, The
Bug's Life, A
Casablanca
Cast Away
Catch Me If You Can
Clear and Present Danger
Clerks
Cliffhanger
Clockwork Orange, A
Clueless
Crimson Tide
Crouching Tiger, Hidden Dragon (Wo hu cang long)
Dances with Wolves
Dark Knight, The
Departed, The
Die Hard
Die Hard: With a Vengeance
Donnie Darko
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
Dumb & Dumber (Dumb and Dumber)
E.T. the Extra-Terrestrial
Fargo
Ferris Bueller's Day Off
Fifth Element, The
Finding Nemo
Firm, The
Four Weddings and a Funeral
Fugitive, The
Full Metal Jacket
Ghost
Ghostbusters (a.k.a. Ghost Busters)
Gladiator
Godfather, The
Godfather: Part II, The
GoldenEye
Goodfellas
Green Mile, The
Groundhog Day
Happy Gilmore
Harry Potter and the Chamber of Secrets
Harry Potter and the Prisoner of Azkaban
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone)
Heat
Home Alone
Incredibles, The
Independence Day (a.k.a. ID4)
Indiana Jones and the Last Crusade
Indiana Jones and the Temple of Doom
Interview with the Vampire: The Vampire Chronicles
Iron Man
Jumanji
Jurassic Park
Kill Bill: Vol. 1
Kill Bill: Vol. 2
L.A. Confidential
Lion King, The
Lord of the Rings: The Fellowship of the Ring, The
Lord of the Rings: The Return of the King, The
Lord of the Rings: The Two Towers, The
LÃ©on: The Professional (a.k.a. The Professional) (LÃ©on)
Mask, The
Matrix Reloaded, The
Memento
Men in Black (a.k.a. MIB)
Minority Report
Mission: Impossible
Monsters, Inc.
Monty Python and the Holy Grail
Mrs. Doubtfire
Natural Born Killers
Net, The
Nightmare Before Christmas, The
O Brother, Where Art Thou?
Ocean's Eleven
Office Space
One Flew Over the Cuckoo's Nest
Outbreak
Pirates of the Caribbean: The Curse of the Black Pearl
Pretty Woman
Princess Bride, The
Pulp Fiction
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark)
Rain Man
Requiem for a Dream
Reservoir Dogs
Rock, The
Seven (a.k.a. Se7en)
Shakespeare in Love
Shining, The
Shrek
Shrek 2
Sleepless in Seattle
Snatch
Speed
Spider-Man
Star Trek: Generations
Star Wars: Episode I - The Phantom Menace
Star Wars: Episode II - Attack of the Clones
Star Wars: Episode IV - A New Hope
Star Wars: Episode V - The Empire Strikes Back
Star Wars: Episode VI - Return of the Jedi
Stargate
Taxi Driver
Terminator 2: Judgment Day
Terminator, The
There's Something About Mary
Titanic
Toy Story
Toy Story 2
Trainspotting
True Lies
Truman Show, The
Twelve Monkeys (a.k.a. 12 Monkeys)
Twister
Up
Usual Suspects, The
V for Vendetta
WALLÂ·E
Waterworld
While You Were Sleeping
Who Framed Roger Rabbit?
Willy Wonka & the Chocolate Factory
Wizard of Oz, The
X-Men

In [47]:
#dict with movie title/index
dic={}
for i,j in enumerate(popular_movies.columns):
    dic[j]=i

In [48]:
dic

{'2001: A Space Odyssey': 0,
 'Ace Ventura: Pet Detective': 1,
 'Aladdin': 2,
 'Alien': 3,
 'Aliens': 4,
 "Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le)": 5,
 'American Beauty': 6,
 'American History X': 7,
 'American Pie': 8,
 'Apocalypse Now': 9,
 'Apollo 13': 10,
 'Armageddon': 11,
 'As Good as It Gets': 12,
 'Austin Powers: International Man of Mystery': 13,
 'Austin Powers: The Spy Who Shagged Me': 14,
 'Avatar': 15,
 'Babe': 16,
 'Back to the Future': 17,
 'Batman': 18,
 'Batman Begins': 19,
 'Batman Forever': 20,
 'Beautiful Mind, A': 21,
 'Beauty and the Beast': 22,
 'Being John Malkovich': 23,
 'Big Lebowski, The': 24,
 'Blade Runner': 25,
 'Bourne Identity, The': 26,
 'Braveheart': 27,
 'Breakfast Club, The': 28,
 "Bug's Life, A": 29,
 'Casablanca': 30,
 'Cast Away': 31,
 'Catch Me If You Can': 32,
 'Clear and Present Danger': 33,
 'Clerks': 34,
 'Cliffhanger': 35,
 'Clockwork Orange, A': 36,
 'Clueless': 37,
 'Crimson Tide': 38,
 'Crouching Tiger, Hidden Dragon (Wo hu cang long)': 39,
 'Dances with Wolves': 40,
 'Dark Knight, The': 41,
 'Departed, The': 42,
 'Die Hard': 43,
 'Die Hard: With a Vengeance': 44,
 'Donnie Darko': 45,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb': 46,
 'Dumb & Dumber (Dumb and Dumber)': 47,
 'E.T. the Extra-Terrestrial': 48,
 'Eternal Sunshine of the Spotless Mind': 49,
 'Fargo': 50,
 "Ferris Bueller's Day Off": 51,
 'Fifth Element, The': 52,
 'Fight Club': 53,
 'Finding Nemo': 54,
 'Firm, The': 55,
 'Forrest Gump': 56,
 'Four Weddings and a Funeral': 57,
 'Fugitive, The': 58,
 'Full Metal Jacket': 59,
 'Ghost': 60,
 'Ghostbusters (a.k.a. Ghost Busters)': 61,
 'Gladiator': 62,
 'Godfather, The': 63,
 'Godfather: Part II, The': 64,
 'GoldenEye': 65,
 'Good Will Hunting': 66,
 'Goodfellas': 67,
 'Green Mile, The': 68,
 'Groundhog Day': 69,
 'Happy Gilmore': 70,
 'Harry Potter and the Chamber of Secrets': 71,
 'Harry Potter and the Prisoner of Azkaban': 72,
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone)": 73,
 'Heat': 74,
 'Home Alone': 75,
 'Inception': 76,
 'Incredibles, The': 77,
 'Independence Day (a.k.a. ID4)': 78,
 'Indiana Jones and the Last Crusade': 79,
 'Indiana Jones and the Temple of Doom': 80,
 'Interview with the Vampire: The Vampire Chronicles': 81,
 'Iron Man': 82,
 'Jumanji': 83,
 'Jurassic Park': 84,
 'Kill Bill: Vol. 1': 85,
 'Kill Bill: Vol. 2': 86,
 'L.A. Confidential': 87,
 'Lion King, The': 88,
 'Lord of the Rings: The Fellowship of the Ring, The': 89,
 'Lord of the Rings: The Return of the King, The': 90,
 'Lord of the Rings: The Two Towers, The': 91,
 'LÃ©on: The Professional (a.k.a. The Professional) (LÃ©on)': 92,
 'Mask, The': 93,
 'Matrix Reloaded, The': 94,
 'Matrix, The': 95,
 'Memento': 96,
 'Men in Black (a.k.a. MIB)': 97,
 'Minority Report': 98,
 'Mission: Impossible': 99,
 'Monsters, Inc.': 100,
 'Monty Python and the Holy Grail': 101,
 'Mrs. Doubtfire': 102,
 'Natural Born Killers': 103,
 'Net, The': 104,
 'Nightmare Before Christmas, The': 105,
 'O Brother, Where Art Thou?': 106,
 "Ocean's Eleven": 107,
 'Office Space': 108,
 "One Flew Over the Cuckoo's Nest": 109,
 'Outbreak': 110,
 'Pirates of the Caribbean: The Curse of the Black Pearl': 111,
 'Pretty Woman': 112,
 'Princess Bride, The': 113,
 'Pulp Fiction': 114,
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark)': 115,
 'Rain Man': 116,
 'Requiem for a Dream': 117,
 'Reservoir Dogs': 118,
 'Rock, The': 119,
 'Saving Private Ryan': 120,
 "Schindler's List": 121,
 'Seven (a.k.a. Se7en)': 122,
 'Shakespeare in Love': 123,
 'Shawshank Redemption, The': 124,
 'Shining, The': 125,
 'Shrek': 126,
 'Shrek 2': 127,
 'Silence of the Lambs, The': 128,
 'Sixth Sense, The': 129,
 'Sleepless in Seattle': 130,
 'Snatch': 131,
 'Speed': 132,
 'Spider-Man': 133,
 'Star Trek: Generations': 134,
 'Star Wars: Episode I - The Phantom Menace': 135,
 'Star Wars: Episode II - Attack of the Clones': 136,
 'Star Wars: Episode IV - A New Hope': 137,
 'Star Wars: Episode V - The Empire Strikes Back': 138,
 'Star Wars: Episode VI - Return of the Jedi': 139,
 'Stargate': 140,
 'Taxi Driver': 141,
 'Terminator 2: Judgment Day': 142,
 'Terminator, The': 143,
 "There's Something About Mary": 144,
 'Titanic': 145,
 'Toy Story': 146,
 'Toy Story 2': 147,
 'Trainspotting': 148,
 'True Lies': 149,
 'Truman Show, The': 150,
 'Twelve Monkeys (a.k.a. 12 Monkeys)': 151,
 'Twister': 152,
 'Up': 153,
 'Usual Suspects, The': 154,
 'V for Vendetta': 155,
 'WALLÂ·E': 156,
 'Waterworld': 157,
 'While You Were Sleeping': 158,
 'Who Framed Roger Rabbit?': 159,
 'Willy Wonka & the Chocolate Factory': 160,
 'Wizard of Oz, The': 161,
 'X-Men': 162}

In [49]:
user_item = user_item.T

In [50]:
import pickle
pickle.dump(user_item, open("user_item_cs.pkl", "wb"))

In [51]:
#create an empty array - len= number of movies
new_user_array = np.full(shape=(1,user_item.shape[1]), fill_value=0); 
new_user_array, new_user_array.shape

(array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0]]),
 (1, 163))

In [52]:
movie_list=["Batman Begins","Avatar","Babe"]
rating_list=['5','4','2']

In [53]:
for i,m in enumerate(movie_list):    
    new_user_array[0][dic[m]] = rating_list[i]

In [54]:
user_item.loc['new_user_rating']=new_user_array[0]
user_item.tail()

title,2001: A Space Odyssey,Ace Ventura: Pet Detective,Aladdin,Alien,Aliens,"Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le)",American Beauty,American History X,American Pie,Apocalypse Now,...,Up,"Usual Suspects, The",V for Vendetta,WALLÂ·E,Waterworld,While You Were Sleeping,Who Framed Roger Rabbit?,Willy Wonka & the Chocolate Factory,"Wizard of Oz, The",X-Men
userId,,,,,,,,,,,,,,,,,,,,,
596,4.0,0.0,0.0,4.0,3.5,4.0,0.0,0.0,0.0,0.0,...,3.5,3.5,3.5,4.5,0.0,0.0,0.0,0.0,4.0,4.0
597,0.0,0.0,4.0,5.0,5.0,0.0,5.0,0.0,5.0,5.0,...,0.0,5.0,0.0,0.0,0.0,3.0,5.0,5.0,4.0,0.0
608,3.0,3.5,3.0,4.0,4.5,0.0,5.0,4.0,2.5,3.0,...,0.0,4.5,4.0,0.0,3.0,2.5,3.0,3.5,2.5,4.0
610,4.5,3.0,0.0,4.5,5.0,4.0,3.5,0.0,0.0,5.0,...,3.5,4.0,3.5,4.5,0.0,0.0,0.0,0.0,3.5,3.5
new_user_rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
cs=cosine_similarity(user_item)

In [56]:
cs = pd.DataFrame(cs, index=user_item.index, columns=user_item.index)
cs

userId,1,2,3,5,6,7,10,11,16,17,...,590,592,593,594,595,596,597,608,610,new_user_rating
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.053034,0.099880,0.299235,0.331885,0.352133,0.082703,0.290901,0.428507,0.586767,...,0.626963,0.289111,0.389917,0.371252,0.165346,0.377886,0.624817,0.586278,0.546820,0.000000
2,0.053034,1.000000,0.000000,0.046363,0.049229,0.033191,0.211939,0.124448,0.223626,0.197815,...,0.178571,0.040305,0.159817,0.054221,0.000000,0.223849,0.054188,0.142847,0.208782,0.000000
3,0.099880,0.000000,1.000000,0.194038,0.074170,0.000000,0.000000,0.000000,0.224618,0.193672,...,0.080312,0.000000,0.089655,0.000000,0.000000,0.086478,0.000000,0.145093,0.106631,0.000000
5,0.299235,0.046363,0.194038,1.000000,0.610213,0.196979,0.107682,0.269227,0.166710,0.294791,...,0.369016,0.583260,0.298225,0.348728,0.121214,0.286937,0.268959,0.351606,0.245330,0.065451
6,0.331885,0.049229,0.074170,0.610213,1.000000,0.244800,0.116514,0.536189,0.154105,0.267076,...,0.432856,0.838248,0.348953,0.525682,0.096529,0.212733,0.367814,0.433652,0.274174,0.041697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,0.377886,0.223849,0.086478,0.286937,0.212733,0.500027,0.357552,0.167550,0.466490,0.478256,...,0.713267,0.204586,0.495095,0.312261,0.059087,1.000000,0.421656,0.663264,0.747248,0.182311
597,0.624817,0.054188,0.000000,0.268959,0.367814,0.357924,0.110273,0.405947,0.340281,0.478262,...,0.630917,0.309404,0.422917,0.486218,0.187007,0.421656,1.000000,0.632362,0.536160,0.030599
608,0.586278,0.142847,0.145093,0.351606,0.433652,0.565850,0.272659,0.348626,0.504247,0.580741,...,0.826366,0.401382,0.605197,0.487011,0.127146,0.663264,0.632362,1.000000,0.790640,0.023791
610,0.546820,0.208782,0.106631,0.245330,0.274174,0.538572,0.324726,0.302281,0.590870,0.646915,...,0.815267,0.251686,0.510585,0.372978,0.109434,0.747248,0.536160,0.790640,1.000000,0.122033
new_user_rating,0.000000,0.000000,0.000000,0.065451,0.041697,0.052713,0.324984,0.000000,0.000000,0.090732,...,0.115132,0.000000,0.043202,0.000000,0.000000,0.182311,0.030599,0.023791,0.122033,1.000000

In [57]:
user_item.loc['new_user_rating']=new_user_array[0]
user_item.tail()

title,2001: A Space Odyssey,Ace Ventura: Pet Detective,Aladdin,Alien,Aliens,"Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le)",American Beauty,American History X,American Pie,Apocalypse Now,...,Up,"Usual Suspects, The",V for Vendetta,WALLÂ·E,Waterworld,While You Were Sleeping,Who Framed Roger Rabbit?,Willy Wonka & the Chocolate Factory,"Wizard of Oz, The",X-Men
userId,,,,,,,,,,,,,,,,,,,,,
596,4.0,0.0,0.0,4.0,3.5,4.0,0.0,0.0,0.0,0.0,...,3.5,3.5,3.5,4.5,0.0,0.0,0.0,0.0,4.0,4.0
597,0.0,0.0,4.0,5.0,5.0,0.0,5.0,0.0,5.0,5.0,...,0.0,5.0,0.0,0.0,0.0,3.0,5.0,5.0,4.0,0.0
608,3.0,3.5,3.0,4.0,4.5,0.0,5.0,4.0,2.5,3.0,...,0.0,4.5,4.0,0.0,3.0,2.5,3.0,3.5,2.5,4.0
610,4.5,3.0,0.0,4.5,5.0,4.0,3.5,0.0,0.0,5.0,...,3.5,4.0,3.5,4.5,0.0,0.0,0.0,0.0,3.5,3.5
new_user_rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
target_user = 'new_user_rating'

In [59]:
related_users = cs.loc[target_user]
related_users

userId
1                  0.000000
2                  0.000000
3                  0.000000
5                  0.065451
6                  0.041697
                     ...
596                0.182311
597                0.030599
608                0.023791
610                0.122033
new_user_rating    1.000000
Name: new_user_rating, Length: 155, dtype: float64

In [60]:
#remove the user themselves from this list
related_users.pop(target_user)

1.0

In [61]:
related_users.sort_values(),np.argmax(related_users),related_users.index[np.argmax(related_users)]  #sorted-userid-userIndex

(userId
 1      0.000000
 355    0.000000
 350    0.000000
 348    0.000000
 345    0.000000
          ...
 596    0.182311
 22     0.205579
 377    0.249021
 543    0.268328
 10     0.324984
 Name: new_user_rating, Length: 154, dtype: float64,
 6,
 10)

In [62]:
#create user df
user_df=user_item.loc[related_users.index[np.argmax(related_users)]].to_frame('predictions')
user_df=user_df.loc[~user_df.index.isin(movie_list)] 
user_df

                                     predictions
title
2001: A Space Odyssey                        0.0
Ace Ventura: Pet Detective                   0.0
Aladdin                                      4.0
Alien                                        0.0
Aliens                                       0.0
...                                          ...
While You Were Sleeping                      0.0
Who Framed Roger Rabbit?                     0.0
Willy Wonka & the Chocolate Factory          0.0
Wizard of Oz, The                            0.0
X-Men                                        0.0

[160 rows x 1 columns]

In [63]:
#recommend 3 movies with highest pred
all=list(user_df.sort_values(by='predictions', ascending=False)[:10].index)
all

['Shrek',
 'Dark Knight, The',
 'Lord of the Rings: The Return of the King, The',
 'Gladiator',
 'Beautiful Mind, A',
 'Up',
 'Lord of the Rings: The Fellowship of the Ring, The',
 'Casablanca',
 'Lord of the Rings: The Two Towers, The',
 'Aladdin']

In [64]:
query = {"Lord of the Rings, The": 5,
                 "Avatar":2,
                 "Titanic":3.5}

In [67]:
def recommend_cs(query, movie_list, rating_list, k=10):
    """
    Filters and recommends the top k movies for any given input query based on a trained nearest neighbors model. 
    Returns a list of k movie ids.
    """   
    user_item = pickle.load(open("user_item_cs.pkl", "rb"))
    new_user_array = np.full(shape=(1,user_item.shape[1]), fill_value=0)
    for i,m in enumerate(movie_list):    
            try:  # in case user doesnt provide data
                new_user_array[0][query.dic[m]] = rating_list[i]
                print('test')
            except:
                continue
    target_user = "new_user"
    user_item.loc['new_user']=new_user_array[0]
    cs=cosine_similarity(user_item)
    cs = pd.DataFrame(cs, index=user_item.index, columns=user_item.index)
    related_users = cs.loc[target_user]
    related_users.pop(target_user)
    user_df=user_item.loc[related_users.index[np.argmax(related_users)]].to_frame('predictions')
    user_df=user_df.loc[~user_df.index.isin(movie_list)] #remove seen movies
    all=list(user_df.sort_values(by='predictions', ascending=False)[:k].index)
    return all

In [69]:
movie_list

['Batman Begins', 'Avatar', 'Babe']

In [70]:
rating_list

['5', '4', '2']

In [68]:
recommend_cs(query, movie_list, rating_list)

['X-Men',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark)',
 'Indiana Jones and the Last Crusade',
 'Ghostbusters (a.k.a. Ghost Busters)',
 'Reservoir Dogs',
 'Terminator, The',
 'Clockwork Orange, A',
 'Star Wars: Episode VI - Return of the Jedi',
 'Star Wars: Episode V - The Empire Strikes Back',
 'Star Wars: Episode IV - A New Hope']